

  .Main{
    width: 100%;
    max-width: 1500px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.Text h2 {
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    font-weight: 500;
    min-height: 50px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 40px;
}
.Text p {
    color: black;
    font-size: 15px;
    font-weight: 150;
    font-family: 'Poppins', sans-serif;
   
}

.Homepageimg
{
border-radius: 50%;
width: 500px;
min-height: 400px;
display: flex;
align-items: center;
}