.header {
    display: flex;
    top: 0;
    height: 70px;
    align-items: center;
    margin: 0%;
    width: 100%;
    font-weight: bold;
  background-color:rgb(92, 209, 141);
    font-size: 20px;
  }
  
  .nav-logo{
    color: white;
    display: flex;
    width: 60%;
    margin-left: 60px;
    padding-left: 70px;
    font-family: 'Poppins', sans-serif;

  }
  
  .nav {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
  
  .nav ul {
    display: flex;
  }
  
  .nav li {
    font-weight: bold;
    list-style-type: none;
    position: relative;
    padding: 20px 20px;
    
  }
  
  .nav a {
    text-decoration: none;
    color: rgb(217, 255, 224);
    padding: 10px;

  }